@page "/DashBoard"
    <div>
        <header id="header" class="navbar-fixed-bottom">
            <nav class="links" style="--items: 5;">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>
                <a href="#">Link 5</a>
                <span class="line"></span>
            </nav>
        </header>
    </div>

    <StreamMeeting></StreamMeeting>
    @code {

    }
